@model GlobalGamesCet49.Models.InscricaoViewModel
@{
    ViewData["Title"] = "Inscrições";
}

<section id="main">
    <div class="container">

        <div class="dark">
            <h3>Inscrições</h3>
            <form class="orcamento" asp-action="Inscricoes" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table>
                    <tr>
                        <th>
                            <label>Nome</label>
                        </th>
                        <th>
                            <input asp-for="Nome" class="form-control" placeholder="Nome" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </th>
                        <th>
                            <label>Apelido</label>
                        </th>
                        <th>
                            <input asp-for="Apelido" class="form-control" placeholder="Apelido" />
                            <span asp-validation-for="Apelido" class="text-danger"></span>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <label>Morada</label>
                        </th>
                        <th>
                            <input asp-for="Morada" class="form-control" placeholder="Morada" />
                            <span asp-validation-for="Morada" class="text-danger"></span>
                        </th>
                        <th>
                            <label>Localidade</label>
                        </th>
                        <th>
                            <input asp-for="Localidade" class="form-control" placeholder="Localidade" />
                            <span asp-validation-for="Localidade" class="text-danger"></span>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <label>Cartão de Cidadão </label>
                        </th>
                        <th>
                            <input asp-for="CC" class="form-control" placeholder="Cartão de Cidadão" />
                            <span asp-validation-for="CC" class="text-danger"></span>
                        </th>
                        <th>
                            <label>Data de Nascimento</label>
                        </th>
                        <th>
                            <input asp-for="DataNasc" class="form-control" placeholder="Data de Nascimento" />
                            <span asp-validation-for="DataNasc" class="text-danger"></span>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <label asp-for="FicheiroDeImagem" class="control-label"></label>
                        </th>
                        <th>
                            <input asp-for="FicheiroDeImagem" class="form-control" type="file" />
                            <span asp-validation-for="FicheiroDeImagem" class="text-danger"></span>
                        </th>
                    </tr>

                </table>
                <button class="button_1" type="submit">Enviar</button>
            </form>

            @if (ViewBag.TheResult == true)
            {
                <div class="alert alert-success">
                    <strong>Thank you!</strong> Your query has been submitted.
                </div>
            }
        </div>

    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        document.querySelector('#inscricoes').className = 'selecionado';
    </script>
}
